/*-----------------------------------------------------
# General Styles
------------------------------------------------------*/

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
}

html {
	overflow-x: hidden;
	overflow-y: scroll;
}

body {
	font-family: Lato, sans-serif;
	font-size: 100%;
	line-height: 1.5;
}

a {
	text-decoration: none;
	transition: all .2s ease-in-out;
}

.btn-rounded,
.btn-square {
	border: none;
	display: block;
	font-size: .75rem;
	height: 55px;
	letter-spacing: 3px;
	line-height: 55px;
	text-transform: uppercase;
	text-align: center;
	width: 220px;
}

.btn-rounded {
	border-radius: 27.5px;
}

.body-overlay {
	display: block;
	position: absolute;
	top: 0;
	left: -100%;
	bottom: 0;
	right: 0;
	height: 100vh;
	width: 100vw;
	z-index: 3;
	opacity: 0;
	transition: opacity .4s, left 0s .4s;
}

.body-overlay.active {
	left: 0;
	opacity: 1;
	transition: opacity .4s, left 0s;
}

.container {
	max-width: 1170px;
	margin: auto;
	position: relative;
}

.container-large {
	max-width: 1720px;
	margin: auto;
}

.clearfix {
	clear: both;
}

.img-cover  {
    display: block;
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.img-responsive{
    display: block;
    max-width: 100%;
    height: auto;
}

.read-more-link {
	font-size: .75rem;
	font-weight: 700;
	letter-spacing: 3px;
	text-transform: uppercase;
}

/*-----------------------------------------------------
# Header
------------------------------------------------------*/

.main-header {
	height: 100px;
	line-height: 100px;
	position: relative;
}

.logo {
	float: left;
	margin-top: 6px;
	width: 120px;
}

.logo-alt {
	font-size: 2.5rem;
	font-weight: 700;
	text-transform: uppercase;
	line-height: normal;
	position: absolute;
	transform: translateX(-50%);
	top: 30px;
	left: 50%;
}
/*-----------------------------------------------------
# Navigation
------------------------------------------------------*/

/* =============== = main-navigation =============== */

.navigation {
	float: right;
}

.navigation li {
	list-style: none;
	float: left;
	margin-left: 50px;
}

.navigation li a {
	font-size: .75rem;
	text-transform: uppercase;
	letter-spacing: 2.5px;
}

.navigation .sub-nav {
	box-shadow: 0 5px 10px rgba(0,0,0,.1);
	display: none;
	line-height: 30px;
	min-width: 200px;
	padding-top: 5px;
	position: absolute;
	transition: all 1s ease-in-out;
	text-align: left;
	top: 100px;
	z-index: 999;
}

.navigation .sub-nav li {
	position: relative;
}

.navigation .sub-nav .sub-nav {
	left: 100%;
	top: 0;
}

.navigation li:hover > .sub-nav {
	display: block;
}

 .navigation .sub-nav li {
	float: none;
	margin-left: 0;
	border-bottom: 1px solid #eee;
}

.navigation .sub-nav li a {
	display: inline-block;
	font-size: .65rem;
	text-transform: uppercase;
	letter-spacing: 2px;
	padding: 7px 25px;
}

.open-nav {
	display: none;
	position: absolute;
	transform: translateY(-50%);
	top: 50%;
	right: 0;
	height: 22px;
	width: 28px;
	z-index: 1;
}

.open-nav:hover {
	cursor: pointer;
}

.open-nav i {
	position: absolute;
	top: 50%;
	right: 0;
	height: 2px;
	width: 100%;
	transition: all .3s ease-in-out;
}

.open-nav i:before {
	position: absolute;
	top: -9px;
	content: " ";
	height: 2px;
	width: 100%;
	transition: all .3s ease-in-out;
}

.open-nav i:after {
	position: absolute;
	top: 9px;
	content: " ";
	height: 2px;
	width: 100%;
	transition: all .3s ease-in-out;
}

.open-nav:hover i:before,
.open-nav:hover i:after {
	width: 80%;
}

/* =============== = aside-navigation =============== */

.aside-nav-container {
	display: block;
	position: absolute;
	top: 0;
	left: -100%;
	padding: 36px 0 0 50px;
	height: 100vh;
	width: 450px;
	z-index: 5;
	transition: left .6s;
}

.aside-nav-container.active {
	left: 0;
}

.close-nav {
	font-size: 1.5rem;
	position: absolute;
	top: 50px;
	right: 40px;
}

.aside-nav {
	position: absolute;
	transform: translateY(-50%);
	top: 50%;
	left: 46px;
	list-style: none;
}

.aside-nav li {
	margin-bottom: 10px;
}

.aside-nav li a {
	font-size: 2.25rem;
	font-weight: 900;
	letter-spacing: .3px;
	text-transform: capitalize;
}

/*-----------------------------------------------------
# Hero
------------------------------------------------------

/* =============== = hero-personal =============== */

.hero-personal {
	text-align: center;
	margin: 70px 0 120px;
}

.personal-decorative-letter {
	font-size: 3.75rem;
	font-weight: 900;
	text-transform: uppercase;
}

.hero-personal h1 {
	font-size: 2.25rem;
	font-weight: 400;
	line-height: 1.8;
	margin: 20px auto 40px auto;
	width: 65%;
}
/*-----------------------------------------------------
# About
------------------------------------------------------*/

.about-me .content p,
.contact-me p {
	font-size: 1.125rem;
	line-height: 2.1;
	letter-spacing: .2px;
}

.my-services ul {
	float: left;
	margin-top: 20px;
}

.my-services li {
	font-size: 1rem;
	margin-bottom: 12px;
	list-style: none;
	letter-spacing: .5px;
	text-transform: capitalize;
}

.services-lists span {
	text-transform: uppercase;
}

.contact-about p {
	padding-bottom: 15px;
}

/* =============== = about-me-page  =============== */

.about-me .info .img-container {
	float: left;
	margin-right: 5%;
	height: 500px;
	width: 47.5%;
}

.about-me .info .content,
.about-me .my-services .content {
	position: relative;
	float: right;
	height: 500px;
	width: 47.5%;
}

.wrapper {
	position: absolute;
	transform: translateY(-50%);
	top: 50%;
	left: 0;
}

.about-me .section-name {
	font-size: .75rem;
	letter-spacing: 3px;
	text-transform: uppercase;
}

.about-me h1,
.about-me h2 {
	font-size: 2.5rem;
	line-height: 1.4;
	margin: 20px 0 21px 0;
}

.about-me p {
	padding-bottom: 35px;
}

.about-me .my-services {
	margin: 150px 0;
}

.about-me .my-services .img-container {
	float: right;
	margin-left: 5%;
	height: 500px;
	width: 47.5%;
}

.about-me .my-services .content {
	float: left;
}

.my-services h2 {
	margin-bottom: 5px;
}

.my-services ul:nth-of-type(1) {
	margin-right: 100px;
}

/*-----------------------------------------------------
# Portfolio
------------------------------------------------------*/

.portfolio-item {
	position: relative;
	height: 600px;
}

.portfolio-item-overlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	height: 100%;
	width: 100%;
	transition: all .3s linear;
}

.portfolio-item-info {
	margin: 50px 0 0 50px;
}

.portfolio-item-category {
	font-size: .75rem;
	letter-spacing: 2.5px;
	text-transform: uppercase;
	transition: all .3s linear;
}

.portfolio-item-title {
	font-size: 2rem;
	letter-spacing: .5px;
	text-transform: capitalize;
	transition: all .3s linear;
	margin-top: 3px;
}

/* =============== = irregular-grid =============== */

.irregular-grid {
	margin-bottom: 120px;
}

.irregular-grid .portfolio-item {
	float: left;
	margin-bottom: 100px;
	width: 47%;
}

.irregular-grid a:nth-of-type(odd) .portfolio-item {
	margin-right: 6%;
}

.irregular-grid a:nth-of-type(even) .portfolio-item {
	margin-top: 80px;
}


.irregular-grid .portfolio-item-info {
	margin: 30px 0 0 0;
}

.irregular-grid .portfolio-item-category {
	font-size: .75rem;
	font-weight: 400;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.irregular-grid .portfolio-item-title {
	font-size: 1.8rem;
	letter-spacing: .1px;
	margin-top: 3px;
}

/* =============== = portfolio-3-columns =============== */

.portfolio-3-columns .portfolio-item {
	float: left;
	height: 400px;
	width: 33.33%;
}

/*-----------------------------------------------------
# Portfolio Single Project
------------------------------------------------------*/

.hero-single-project-full {
	background: url('../img/image-placeholder_01.png');
	background-position: center;
	-webkit-background-size: cover;
	background-size: cover;
	height: 100vh;
	width: 100%;
}

.single-project .content h2 {
	font-size: .75rem;
	letter-spacing: 3px;
	margin-bottom: 20px;
	text-transform: uppercase;
}

.single-project  p {
	font-size: 1rem;
	font-weight: 300;
	line-height: 2.25rem;
	letter-spacing: .2px;
}

.projects-nav {
	padding: 90px 0 125px 0;
}

.projects-nav span {
	font-size: .75rem;
	font-weight: 700;
	letter-spacing: 3px;
	text-transform: uppercase;
}

.projects-nav h2 {
	font-size: 2.25rem;
	font-weight: 900;
	letter-spacing: 2.7px;
	margin-top: 10px;
	text-transform: uppercase;
}

.prev-project {
	float: left;
	width: 50%;
}

.next-project {
	float: right;
	text-align: right;
	width: 50%;
}

/* =============== = single-project_02 =============== */

.project_02 .overview {
	margin: 0;
	padding: 145px 0 135px 0;
}

.project_02 header {
	margin-top: -5px;
}

.project_02 .project-title {
	font-size: 2.25rem;
	font-weight: 900;
	letter-spacing: 2.7px;
	margin-top: 10px;
	text-transform: uppercase;
}

.project_02 .project-details {
	margin-top: 150px;
}

.project_02 .project-details > div {
	position: relative;
	margin-bottom: 100px;
	width: 100%;
}

.project_02 .project-details > div:last-child {
	margin-bottom: 0;
}

.project_02 .project-details .img-container {
	float: right;
	height: 550px;
	margin-left: 4%;
	width: 48%;
}

.project_02 .project-details > div:nth-of-type(2) .img-container {
	float: left;
	margin-right: 4%;
	margin-left: 0;
}

.project_02 .project-details > div .content {
	position: absolute;
	transform: translateY(-50%);
	top: 50%;
	left: 0;
	width: 48%;
}

.project_02 .project-details > div:nth-of-type(2) .content {
	right: 0;
	left: 52%;
}


/* =============== = single-project_05 =============== */

.project_05 .overview {
	margin: 90px 0 70px 0;
}

.project_05 .overview header {
	float: none;
	width: 100%;
}

.project_05 .project-services {
	font-size: .75rem;
	font-weight: 700;
	letter-spacing: 3px;
	text-transform: uppercase;
}

.project_05 .project-title {
	font-size: 4.5rem;
	letter-spacing: -1px;
	margin: 10px 0 20px 0;
}

.project_05 .overview p {
	font-size: 1.2rem;
	margin-bottom: 40px;
	width: 60%;
}

.project_05 .read-more-link i {
	padding-left: 10px;
}

.project_05 .intro {
	font-size: 1.5rem;
	line-height: 1.8;
	margin: 130px 0 135px 0;
	width: 75%;
}

.project_05 .project-details {
	margin: 145px 0 135px 0;
	width: 70%;
}

.project_05 .color-block {
	padding: 130px 0 135px 0;
}

.project_05 .color-block p {
	font-size: 1.5rem;
	line-height: 1.8;
	width: 75%;
}

.detailed-info {
	padding: 115px 0 75px 0;
}

.detailed-info ul {
	float: left;
	list-style: none;
	margin-right: 170px;
}

.detailed-info li {
	font-size: 1.125rem;
	letter-spacing: .3px;
	margin-bottom: 40px;
	text-transform: capitalize;
}

.detailed-info span {
	display: block;
	font-size: .75rem;
	font-weight: 700;
	letter-spacing: 2.5px;
	margin-bottom: 12px;
	text-transform: uppercase;
}

/*-----------------------------------------------------

/* =============== = contact-page =============== */

.contact h1 {
	font-size: 3.375rem;
	line-height: 1.3;
	margin: 150px 0 40px 0;
}

.form-wrapper {
	float: left;
	margin-right: 6%;
	margin-bottom: 150px;
	width: 64%;
}

.contact .info {
	float: right;
	margin-top: 30px;
	width: 30%;
}

.contact .info div {
	margin-bottom: 25px;
}

.contact .info h3 {
	font-size: .8rem;
	font-weight: 900;
	letter-spacing: 2.5px;
	text-transform: uppercase;
	margin-bottom: 5px;
}

.contact .info p {
	letter-spacing: .3px;
}

/* =============== = contact-form =============== */

.contact-form div.name,
.contact-form div.email {
	float: left;
	width: 48%;
}

.contact-form div.name {
	margin-right: 4%;
}

.contact-form label {
	display: block;
	font-size: 1rem;
	letter-spacing: .5px;
	text-transform: capitalize;
	padding-bottom: 10px;
}

.name input,
.email input {
	border: 1px solid #ccc;
	margin-bottom: 20px;
	padding-left: 15px;
	outline: none;
	height: 45px;
	width: 100%
}
.message textarea {
	border: 1px solid #ccc;
	padding: 15px;
	outline: none;
	height: 170px;
	width: 100%;
}

.name input:focus,
.email input:focus,
.message textarea:focus {
	border: 1px solid #999;
}

.contact-form input[type="submit"] {
	border: none;
	cursor: pointer;
	float: right;
	font-family: Lato;
	transition: all .2s ease-in-out;
	margin-top: 25px;
}

/* =============== = contact-me =============== */

.contact-me {
	padding: 100px 0;
}

.mail-link {
	display: block;
	margin: 20px 0;
	font-size: 3rem;
	font-weight: 700;
	letter-spacing: -1px;
}

.contact-me p {
	font-weight: 300;
	letter-spacing: .4px;
	padding-bottom: 0;
	width: 45%;
}
/*-----------------------------------------------------
# Footer
------------------------------------------------------*/

.main-footer {
	text-align: center;
	position: relative;
	height: 300px;
	width: 100%;
}

.main-footer .content {
	position: absolute;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
}

.main-footer .social-icons li {
	float: none;
	font-size: 1.5rem;
	display: inline-block;
	padding: 0 20px;
	margin: 0;
}

.main-footer .copyright-info {
	font-size: 1rem;
	font-weight: 300;
	margin-top: 25px;
	letter-spacing: 1px;
	line-height: 2.1;
}

/* =============== = footer_02 =============== */

.footer_02 {
	border-top: 1px solid #ddd;
	height: 100px;
	line-height: 99px;
}

.footer-alt {
	border: none;
}

.footer_02 .copyright-info {
	float: left;
}

.footer_02 .social-icons {
	float: right;
}

.copyright-info {
	font-size: .95rem;
	letter-spacing: .5px;
	text-transform: capitalize;
}

.social-icons li {
	font-size: .875rem;
	float: left;
	list-style: none;
	margin-left: 35px;
}

.reversed {
	border-top: 1px solid #222;
	border-bottom: 1px solid #111;
}